---
import Container from "./Container.astro"

---


  <Container>
    <div id="features">
      <div class="md:w-2/3 lg:w-1/2">
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
          <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
        </svg>
        <h2 class="mt-8 mb-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
          Somos <span class="text-primary dark:text-white">SIGE </span> la empresa numero uno en el norte del valle.
        </h2>
      </div>
      <div class="rounded-xl " >
        <p class="text-gray-600 text-xl  mb-4">
          Suministramos servicios tecnológicos y profesionales de calidad a través de procesos sostenibles, garantizando innovación, confidencialidad y valor en los procesos de nuestros clientes.
        </p>
      </div>
      <div class="flex-1 grid grid-cols-2 gap-8 bg-white dark:bg-gray-800 shadow-lg rounded-3xl p-6 transition hover:scale-105 hover:shadow-2xl">
        <!-- Card 1: Quiénes Somos -->
        <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <div class="space-y-4" >
            <img src="https://cdn-icons-png.flaticon.com/512/9539/9539805.png" alt="Icono de servicios" class="w-16 mx-auto"/>
            <h3 class="text-xl font-bold text-gray-700 dark:text-white text-center transition group-hover:text-secondary">
              Misión
            </h3>
            <p class="text-gray-600 dark:text-gray-300 text-center">
              Suministramos servicios tecnológicos y profesionales de calidad a través de procesos sostenibles, garantizando innovación, confidencialidad y valor en los procesos de nuestros clientes.
            </p>
          </div>
        </div>
    
        <!-- Card 2: Visión -->
        <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <div class="space-y-4">
            <img src="https://cdn-icons-png.flaticon.com/512/10434/10434252.png" alt="Icono de visión" class="w-16 mx-auto"/>
            <h3 class="text-xl font-bold text-gray-700 dark:text-white text-center transition group-hover:text-secondary">
              Visión
            </h3>
            <p class="text-gray-600 dark:text-gray-300 text-center">
              Ser una empresa que aprende más rápido que la competencia, liderando con calidad e innovación para garantizar la satisfacción y soluciones integrales a nuestros clientes.
            </p>
          </div>
        </div>
      </div>
  </div>  
  <div id="values">
    <div>
      <h4 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        Conoce nuestros <span class="text-primary dark:text-white">VALORES </span> empresariales
      </h4>
      <p class="text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ad ipsum pariatur autem, fugit laborum in atque amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1256/1256650.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2 ">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              DOMINIO PERSONAL
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Permite aclarar y ahondar continuamente nuestra visión personal,concentrar las energías, desarrollar paciencia y ver la realidad objetivamente. Todas las conexiones entre aprendizaje personal y aprendizaje organizacional, los compromisos recíprocos entre individuo y organización, el espíritu especial de una empresa constituida por gente capaz de aprender.
            </p>
          </div>
          <div class="flex items-center justify-between group-hover:text-secondary ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/17917/17917545.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              MODELO MENTAL
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Aprender a exhumar nuestras imágenes internas del mundo, para llevarlas a la superficie y someterlas a un riguroso escrutinio. También incluye la aptitud para entablar conversaciones abiertas donde se equilibre la indagación (actitud inquisitiva) con la persuasión, donde la gente manifieste sus pensamientos para exponerlos a la influencia de otros.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/7185/7185630.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              APRENDIZAJE EN EQUIPO
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              La disciplina del aprendizaje en equipo comienza con el “diálogo”, la capacidad de los miembros del equipo para “suspender los supuestos” e ingresar en un auténtico “pensamiento conjunto”.
              Creemos en el poder de la colaboración para alcanzar metas ambiciosas. Nuestro equipo está alineado hacia un objetivo común: entregar resultados excepcionales al cliente, fortaleciendo relaciones de confianza y compromiso mutuo.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/14753/14753018.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
                ORIENTACIÓN AL CLIENTE
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Identificación precisa de las necesidades de nuestros clientes en todos sus componentes, buscando continuamente superar sus expectativas y garantizar su satisfacción total. Nuestra prioridad es convertir sus objetivos en realidades.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/9793/9793021.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
                RESPONSABILIDAD
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Reconocemos la importancia de cada requerimiento planteado por nuestros clientes y nuestro personal, asegurando respuestas ágiles y eficaces. Nos comprometemos a asumir cada acción con integridad y profesionalismo.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/15552/15552441.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            EXCELENCIA
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Aspiramos a la perfección en cada proceso, producto o servicio que ofrecemos. La calidad es nuestro sello distintivo, reflejado en un enfoque riguroso por los detalles y en la satisfacción constante de nuestros clientes.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/7178/7178907.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            COMPROMISO
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Nos dedicamos plenamente a cumplir con los objetivos de nuestros clientes, asumiendo cada proyecto como propio. Trabajamos con pasión y determinación para ofrecer resultados que generen valor y confianza a largo plazo.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 transform hover:scale-105 transition"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/11485/11485544.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              INNOVACIÓN
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Búsqueda continua de los factores y circunstancia que conllevan a mejorar los servicios y a crear con todo éxito soluciones ajustadas a las necesidades del cliente intimando siempre de involucrar varias “Tecnologías de Componentes”.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
    </div>
  </div>
  </Container>
