---
import Container from "./Container.astro"
---
<link rel="stylesheet" href="/styles/main.css">

<div class="relative" id="home">
    <Container>
        <div class="relative pt-20 ml-auto">
          <div class="text-center mx-auto" data-aos="fade-down">
            <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">
              Sistemas de información para la gestión empresarial <span class="text-primary dark:text-white">SIGE.</span>
            </h1>
            <p class="mt-8 text-gray-700 dark:text-gray-300">Identificamos de las necesidades del cliente en todos sus componentes para buscar su satisfacción!</p>

            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-6 text-center border p-2 rounded-xl bg-gradient-to-r" style="--tw-gradient-from: white; --tw-gradient-to: var(--bg-primary); --tw-shadow-color: var(--bg-primary); border-color: var(--bg-primary); box-shadow: 0 4px 6px -1px var(--bg-primary), 0 2px 4px -2px var(--bg-primary)">

              <div id="logo-alcala" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/alcala.png" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de Alcala</p>
              </div>

              <div id="logo-anserma" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/anserma.gif" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de Anserma</p>
              </div>

              <div id="logo-cartago" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/cartago.png" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de Cartago</p>
              </div>

              <div id="logo-union" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/union.gif" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de la Union</p>
              </div>

              <div id="logo-obando" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/obando.svg" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de Obando</p>
              </div>

              <div id="logo-roldanillo" class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="/images/entidades/roldanillo.jpg" class="h-24 w-auto mx-auto" alt="client logo" />
                <p class="mt-2 text-gray-700 dark:text-white">Municipio de Roldanillo</p>
              </div>
              
            </div>
          </div>
        </div>
    </Container>

    <!-- Modals -->
    <div id="modal-alcala" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-alcala')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white" onclick="closeModal('modal-alcala')">X</span>
        <p class="font-bold border-b border-blue-300 pb-2">Seleccione una entidad</p>
        <a href="https://vutv2.alcala.documentosige.com.co/?ent=19" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD</p>
            <img src="/images/entidades/alcala.png" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Alcala</p>
          </div>
        </a>
        <a href="https://vtu.documentosige.com.co/?ent=19" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD V1</p>
            <img src="/images/entidades/alcala.png" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Alcala</p>
          </div>
        </a>
        <a href="https://vutv2.alcala.documentosige.com.co/?ent=38" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/hsanvicente.png" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Hospital San Vicelte de Paul</p>
          </div>
        </a>
      </div>
    </div>
    
    <div id="modal-anserma" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-anserma')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white" onclick="closeModal('modal-anserma')">X</span>
        <a href="https://vutanserma.documentosige.com.co/" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD</p>
            <img src="/images/entidades/anserma.gif" alt="Alcaldia de Alcala"  class="mx-auto w-26 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Anserma</p>
          </div>
        </a>
        <a href="https://vutansermav1.documentosige.com.co/" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD V1</p>
            <img src="/images/entidades/anserma.gif" alt="Alcaldia de Alcala"  class="mx-auto w-26 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Anserma</p>
          </div>
        </a>
      </div>
    </div>

    <div id="modal-cartago" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-cartago')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white" onclick="closeModal('modal-cartago')">X</span>
        <a href="https://vtu.documentosige.com.co/?ent=29" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD</p>
            <img src="/images/entidades/holguin.jpg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Institución Educativa ANTONIO HOLGUÍN GARCÉS</p>
          </div>
        </a>
        <a href="https://vutanserma.documentosige.com.co/?ent=49" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD</p>
            <img src="/images/entidades/fonpacifico.png" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Fonpacifico</p>
          </div>
        </a>
        <a href="https://vtu.sige.com.co/?ent=3" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/sige.png" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">SIGECOM</p>
          </div>
        </a>
        <a href="https://vutanserma.documentosige.com.co/?ent=49" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/prueba.jpg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Empresa de Prueba</p>
          </div>
        </a>
      </div>
    </div>

    <div id="modal-union" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-union')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white" onclick="closeModal('modal-union')">X</span>
        <a href="https://sigvtu.documentosige.com.co/?ent=14" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD</p>
            <img src="/images/entidades/union.gif" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de la Unión</p>
          </div>
        </a>
        <a href="https://vtu.documentosige.com.co/?ent=23" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD V1</p>
            <img src="/images/entidades/union.gif" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de la Unión</p>
          </div>
        </a>
        <a href="https://www.meci.sige.com.co/index.php/Mecicontrol" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – MECI </p>
            <img src="/images/entidades/inviunion.jpeg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">INVIUNION</p>
          </div>
        </a>
        <a href="https://vtu.documentosige.com.co/?ent=31" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/concejo.jpg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Consejo Municipal</p>
          </div>
        </a>
      </div>
    </div>

    <div id="modal-obando" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-obando')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white" onclick="closeModal('modal-obando')">X</span>
        <a href="https://vutv2.alcala.documentosige.com.co/?ent=40" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/obando.svg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Obando</p>
          </div>
        </a>
      </div>
    </div>
    
    <div id="modal-roldanillo" class="modal hidden fixed inset-0 flex items-center justify-center modal-bg" onclick="closeModal('modal-roldanillo')">
      <div class="modal-content w-3/4 h-3/4 max-w-5xl max-h-screen overflow-y-auto p-8" onclick="event.stopPropagation()">
        <span class="modal-close bg-red-600 px-2 rounded-lg text-white cursor-pointer" onclick="closeModal('modal-roldanillo')">X</span>
        <a href="https://sigv2roldanillo.documentosige.com.co/?ent=38" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/roldanillo.jpg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Alcaldia de Roldanillo</p>
          </div>
        </a>
        <a href="https://sig.serviciospublicosroldanillo.documentosige.com.co/?ent=36" class="p-5 " target="_blank">
          <div class="shadow-lg p-4 rounded-lg mt-3 transform hover:scale-105 transition duration-300 border-blue-300 border">

            <p class="p-2 bg-primary rounded-lg text-white font-bold">SISTEMA INTEGRADO DE GESTION Y ADMINISTRACION DE DOCUMENTOS – SIGAD </p>
            <img src="/images/entidades/roldaemp.jpg" alt="Alcaldia de Alcala"  class="mx-auto w-48 h-auto block mt-4">
            <p class="font-bold mt-2">Empresa de Servicios Publicos de Roldanillo</p>
          </div>
        </a>
      </div>
    </div>
    

    <script>
      // Función para abrir el modal
      function openModal(modalId) {
          const modal = document.getElementById(modalId);
          if (modal) {
              modal.classList.remove('hidden');
              document.body.style.overflow = 'hidden'; // Desactiva el scroll
          }
      }
          
      // Función para cerrar el modal
      function closeModal(modalId) {
          const modal = document.getElementById(modalId);
          if (modal) {
              modal.classList.add('hidden');
              document.body.style.overflow = ''; // Reactiva el scroll
          }
      }
    
      // Añadir eventos de clic a los logos y asignar modales dinámicamente
      const logos = [
        { id: 'logo-alcala', modal: 'modal-alcala' },
        { id: 'logo-anserma', modal: 'modal-anserma' },
        { id: 'logo-cartago', modal: 'modal-cartago' },
        { id: 'logo-union', modal: 'modal-union' },
        { id: 'logo-obando', modal: 'modal-obando' },
        { id: 'logo-roldanillo', modal: 'modal-roldanillo' },
      ];
    
      logos.forEach(({ id, modal }) => {
        const logo = document.getElementById(id);
        if (logo) {
          logo.addEventListener('click', () => openModal(modal));
        }
      });
    
      // Añadir funcionalidad para cerrar modales al hacer clic en el fondo o la "X"
      document.querySelectorAll('.modal').forEach((modal) => {
        modal.addEventListener('click', (event) => {
          if (event.target === modal) {
            closeModal(modal.id);
          }
        });
        modal.querySelector('.modal-close').addEventListener('click', () => {
          closeModal(modal.id);
        });
      });
    </script>
    
</div>
